body{
	text-align: center;
	margin: 0;
}
header{
	background-color: #F15B31;
	padding: 30px 20px;

}
main{
	width: 850px;
	margin: 35px auto;
}
h1{
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}
a{
	font-family: 'Raleway', sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}
h2{
	font-family: 'Raleway', sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}
p{
	font-family: 'Droid Serif', serif;
	line-height: 26px;
	font-size: 18px;
}
nav{
	background-color: #00A6B3;
	padding: 20px 0;
}
img{
	margin: 40px 8px;
}
.links{
	font-family: 'Droid Serif', serif;
	line-height: 26px;
	font-size: 18px;
	color: #F15B31;
	text-transform: none;
	margin: 0;
}
footer{
	text-transform: uppercase;
	padding: 0 20px;
	background: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	float: left;
	font-style: 'Raleway', sans-serif;
}
.message {
	float: right;
	font-style: 'Raleway', sans-serif;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}
a:hover {
	border: 2px solid white;
}